/* LeechBlock options style */

:root {
	--primary-bg-color: #fff;
	--primary-text-color: #000;
	--ui-button-bg-color: #227f6e;
	--ui-button-bg-hover-color: #3ac9ac;
	--ui-widget-button-bg-color: #ccc;
	--ui-widget-button-bg-hover-color: #ddd;
	--ui-tabs-bg-color: #ccc;
	--ui-tabs-bg-hover-color: #ddd;
	--ui-tabs-bg-active-color: #eee;
}


html {
	overflow-y: scroll;
}

@media (prefers-color-scheme: light) {

	body {
		background: var(--primary-bg-color);
	}

}

body {
	color: #fff;
	font-size: 14px;
}

.ui-button {
	background: var(--ui-button-bg-color);
	color: var(--primary-text-color);
	border: none;
	border-radius: 50px;
	padding: 8px 15px;
	animation-name: ui-button-unhover;
	animation-duration: 0.2s;
}

.ui-button:focus {
	background: var(--ui-button-bg-color);
	border: none;
}

.ui-button:hover {
	background: var(--ui-button-bg-hover-color);
	border: none;
	animation-name: ui-button-hover;
	animation-duration: 0.2s;
}

.ui-widget button ,
input[type="file"]::file-selector-button{
	background: var(--ui-widget-button-bg-color);
	color: #333;
	border: none;
	padding: 8px 12px;
	border-radius: 50px;
	animation-name: widget-unhover;
	animation-duration: 0.2s;
}

.ui-widget button:hover:enabled ,
input[type="file"]::file-selector-button:hover:enabled{
	background: var(--ui-widget-button-bg-hover-color);
	animation-name: widget-hover;
	animation-duration: 0.2s;
}

.ui-widget button:active:enabled {
	background: var(--ui-widget-button-bg-color);
}

.ui-widget button:disabled {
	background: #eee;
	color: #666;
	border: none;
}

.ui-widget fieldset {
	margin: 10px 0px;
}

.ui-widget fieldset,
.ui-widget input,
.ui-widget select,
.ui-widget textarea {
	color: var(--primary-text-color);
	border: 1px #aaa solid;
	border-radius: 15px;
	padding: 4px 8px;
}

.ui-widget input,
.ui-widget select {
	background-color: var(--primary-bg-color);
}

.ui-widget input:disabled,
.ui-widget select:disabled,
.ui-widget textarea:disabled {
	background: #eee;
	color: #666;
	border: 1px solid #ccc;
}

.ui-widget hr {
	height: 0px;
	margin: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #888;
}

.ui-widget legend {
	font-weight: bold;
}

.ui-widget a {
	color: #2ca089;
	text-decoration: none;
}

.ui-widget a:hover {
	text-decoration: underline;
}

.ui-widget th,
.ui-widget td {
	text-align: center;
	padding: 4px 12px;
	border: none;
}

.ui-widget code {
	font: normal 14px monospace;
}

.ui-widget-header {
	background: var(--primary-bg-color);
	color: #333;
	border: none;
}

.ui-widget-content {
	background: #eee;
	color: var(--primary-text-color);
	border: none;
}

.ui-widget.ui-widget-content {
	border: none;
}

.ui-tabs .ui-state-default {
	background: #ccc;
	border: none;
	border-radius: 15px 15px 0px 0px;
	padding-top: 3px !important;
}

.ui-tabs .ui-state-default a {
	color: #333;
}

.ui-tabs .ui-state-hover {
	background: #ddd;
	border: none;
	animation-name: tab-hover;
	animation-duration: 0.2s;
}

.ui-tabs .ui-state-active {
	background: #eee;
	border: none;
	animation-name: tab-select;
	animation-duration: 0.2s;
}


.logo {
	width: 408px;
}

#form-container {
	display: flex;
	justify-content: center;
}

#form {
	text-align: center;
}

#tabs {
	display: inline-block;
	text-align: left;
}

#paneAbout {
	color: #2e3436;
	text-align: center;
	line-height: 1.5em;
}

#promptAccessCodeText {
	font: normal 14px monospace;
	user-select: none;
	-moz-user-select: none;
}

#promptAccessCodeCanvas {
	background: var(--primary-bg-color);
}

#promptAccessCodeInput {
	font: normal 14px monospace;
}

#clockOffsetTime {
	background: #def;
	border: 1px solid #888;
	padding: 2px 4px;
}

#results {
	font: normal 12px monospace;
}

@keyframes ui-button-hover {
	from {
		background-color: var(--ui-button-bg-color);
	}

	to {
		background-color: var(--ui-button-bg-hover-color);
	}
}

@keyframes ui-button-unhover {
	from {
		background-color: var(--ui-button-bg-hover-color);
	}

	to {
		background-color: var(--ui-button-bg-color);
	}
}

@keyframes widget-hover {
	from {
		background-color: var(--ui-widget-button-bg-color);
	}

	to {
		background-color: var(--ui-widget-button-bg-hover-color);
	}
}

@keyframes widget-unhover {
	from {
		background-color: var(--ui-widget-button-bg-hover-color);
	}

	to {
		background-color: var(--ui-widget-button-bg-color);
	}
}

@keyframes tab-select {
	from {
		background-color: var(--ui-tabs-bg-color);
	}

	to {
		background-color: var(--ui-tabs-bg-active-color);
	}
}

@keyframes tab-hover {
	from {
		background-color: var(--ui-tabs-bg-color);
	}

	to {
		background-color: var(--ui-tabs-bg-hover-color);
	}
}

@keyframes tab-unhover {
	from {
		background-color: var(--ui-tabs-bg-hover-color);
	}

	to {
		background-color: var(--ui-tabs-bg-color);
	}
}