/* LeechBlock Spruce theme style */

:root {
	--primary-bg-color: #031f;
	--primary-text-color: #adb;
	--ui-button-bg-color: #253;
	--ui-button-bg-hover-color: #142;
	--ui-widget-button-bg-color: #253;
	--ui-widget-button-bg-hover-color: #142;
	--ui-tabs-bg-color: #475;
	--ui-tabs-bg-hover-color: #364;
	--ui-tabs-bg-active-color: #031;
}

body {
	background: var(--primary-bg-color);
	color: var(--primary-text-color);
}

.ui-button {
	background: var(--ui-button-bg-color);
	color: var(--primary-text-color);
	border: 1px solid #840;
}

.ui-button:focus {
	background: var(--ui-button-bg-color);
	color: var(--primary-text-color);
	border: 1px solid #840;
}

.ui-button:hover {
	background: var(--ui-button-bg-hover-color);
	color: var(--primary-text-color);
	border: 1px solid #840;
}

.ui-widget button {
	background: var(--ui-widget-button-bg-color);
	color: var(--primary-text-color);
	border: 1px solid #840;
}

.ui-widget button:hover:enabled {
	background: var(--ui-widget-button-bg-hover-color);
}

.ui-widget button:active:enabled {
	background: #031;
}

.ui-widget button:disabled {
	background: var(--ui-widget-button-bg-hover-color);
	color: #586;
	border: 1px solid var(--ui-widget-button-bg-color);
}

.ui-widget fieldset, .ui-widget input, .ui-widget select, .ui-widget textarea {
	background: #031;
	color: var(--primary-text-color);
	border: 1px solid #840;
}

.ui-widget input:disabled, .ui-widget select:disabled, .ui-widget textarea:disabled {
	background: var(--ui-widget-button-bg-hover-color);
	color: #586;
	border: 1px solid var(--ui-widget-button-bg-color);
}

.ui-widget hr {
	height: 0px;
	margin: 0px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #840;
}

.ui-widget th, td {
	border: 1px solid #840;
}

.ui-widget-header {
	background: var(--ui-widget-button-bg-color);
	color: var(--primary-text-color);
	border: 1px solid #840;
}

.ui-widget-content {
	background: #031;
	color: var(--primary-text-color);
	border: 1px solid #840;
}

.ui-widget.ui-widget-content {
	border: 1px solid #840;
}

.ui-tabs .ui-state-default {
	background: var(--ui-tabs-bg-color);
	border: 1px solid #840;
}

.ui-tabs .ui-state-default a {
	color: #000;
}

.ui-tabs .ui-state-hover {
	background: var(--ui-tabs-bg-hover-color);
	border: 1px solid #840;
}

.ui-tabs .ui-state-active {
	background: var(--ui-tabs-bg-active-color);
	border: 1px solid #840;
}

.ui-tabs .ui-state-active a {
	color: #bec;
}

#paneAbout {
	color: var(--primary-text-color);
}

@keyframes ui-button-hover {
  	from {background-color: var(--ui-button-bg-color);}
  	to {background-color: var(--ui-button-bg-hover-color);}
}

@keyframes ui-button-unhover {
  	from {background-color: var(--ui-button-bg-hover-color);}
  	to {background-color: var(--ui-button-bg-color);}
}

@keyframes widget-hover {
	from {background-color: var(--ui-widget-button-bg-color);}
	to {background-color: var(--ui-widget-button-bg-hover-color);}
}

@keyframes widget-unhover {
	from {background-color: var(--ui-widget-button-bg-hover-color);}
	to {background-color: var(--ui-widget-button-bg-color);}
}

@keyframes tab-select {
   from {background-color: var(--ui-tabs-bg-color);}
   to {background-color: var(--ui-tabs-bg-active-color);}
}

@keyframes tab-hover {
   from {background-color: var(--ui-tabs-bg-color);}
   to {background-color: var(--ui-tabs-bg-hover-color);}
}

@keyframes tab-unhover {
   from {background-color: var(--ui-tabs-bg-hover-color);}
   to {background-color: var(--ui-tabs-bg-color);}
}